<link rel="stylesheet" href="/css/nav.css">
<nav>
    <a href="/movie">Your Movies</a>
    <a href="/movie/new">Create New Movie</a>
    <form action="/session/?_method=DELETE" method='POST'>
    <input type="submit" value="Log Out" />
    </form>
</nav>
