<link rel="stylesheet" href="/css/nav.css">
<nav>
    <a href="/movie/every">Home</a>
    <a href="/movie">My Movies</a>
    <% if (currentUser) { %>
        <p id="welcome"> Welcome <%= currentUser.username %> </p>
    <% } %>
    <a href="/movie/new">Create New Movie</a>
    <form action="/session/?_method=DELETE" method='POST'>
    <input class="log-out" type="submit" value="Log Out" />
    </form>
</nav>
