<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 Page Not Found</title>
  <link rel="stylesheet" href="/css/404.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>404 Page</h1>
    <p>Oops! The page you're looking for cannot be found.</p>
    <a class="see-more" href="/movie/every">Go back to homepage</a>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>
