<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieGram</title>
    <link rel="stylesheet" href="/css/show.css">
    <link rel="stylesheet" href="/css/edit.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <% data.comments.forEach(function(item) { %>
        <li>Movie Comment: <%= item.comment %></li>
        <li>Commented by: <%= item.user.username %></li>
       <% }) %>
    <a href="/movie/every">Go Back</a>
    <div>
</body>
</html>