<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieGram</title>
    <link rel="stylesheet" href="/css/comment.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1>Make a comment for <%= data.name %> </h1>
    <form action="/movie/every/<%= data._id %>" method="POST">
    <label for="comment" class="comment-label">Leave a Comment:</label>
    <textarea name="comment" id="comment" class="comment-textarea" placeholder="Write your comment here..."></textarea>
    <button type="submit" class="comment-button">Submit</button>
     <a class="see-more" href="/movie/every">Go back</a>
    </form>
    <%- include('./partials/footer.ejs') %>
</body>
</html>