body {
    padding: 0;
    margin: 0;
    text-align: center;
    background-image: url("../pic/e379295d83f700385c883e38850f512c.jpg");
    font-family: "Orbitron", sans-serif;
}

h1 {
    margin-top: 80px;
}

.comment-label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.comment-textarea {
    width: 50%;
    height: 30px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.comment-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Orbitron", sans-serif;
}

.comment-button:hover {
    background-color: #0056b3;
}

.see-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    margin-top: 5px;
}

.see-more:hover {
    background-color: darkgreen;
}

