body {
    padding: 0;
    margin: 0;
    text-align: center;
    background-image: url("../pic/360_F_286321335_NBvhp1nTWr6z6EQMVVWqHWWZvNmzFfqS.jpg");
    font-family: "Orbitron", sans-serif;
}

h1 {
    margin-top: 60px;
}

.see-more {
    display: inline-block;
    padding: 8px 16px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    margin-top: 10px;
}

.see-more:hover {
    background-color: #2980b9;
}

.edit {
    display: inline-block;
    padding: 8px 16px;
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: "Orbitron", sans-serif;
}

.edit:hover {
    background-color: darkgreen;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}